* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #BFD7EA;
    font-size: 24px;
}

body {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.calculator-area {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 6px solid #004F2D;
    border-radius: 12px;
}

.output {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    border: 2px solid #004F2D;
    padding: 4px;
    height: 60px;
    width: 240px;

    font-size: 34px;
    background-color: #508CA4;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.button {
    background-color: #0A8754;
    height: 60px;
    width: 60px;
}

.clear-button{
    width: 120px;
}

.big-button {
    background-color: #0A8754;
    height: 60px;
    width: 120px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 25px;

    background-color: #004F2D;    
}
